
<div class="container movieTicketBody">

    <header>
        <h4>This is your recipt!</h4>
        <p>Scan the coeds at the cinema</p>
        <p>Stands to recive the items!</p>
    </header>

    <main>
        <div class = "orderBox">
            <h3>Snacks & Drinks</h3>
            <div class = "toPutngreapetforeachprudoct">
                <div class="col-xs-6">
                    <P>Item</P>
                    <p>popcorn</p>
                </div>
                <div class="col-xs-6">
                    <img src="../images/Lcola.png">
                </div>
            </div>
            <img src="../images/qrR.png">
        </div>

        <div class = "orderBox blueOrderBox">
            <h3>Movie tickets</h3>
            <div class = "toPutngreapetforeachprudoct">
                <h4>Movie name</h4>
                <div class="col-xs-6">
                    <h5>location</h5>
                    <span>cinema city</span>
                </div>

                <div class="col-xs-6">
                    <h5>time</h5>
                    <span>17:00</span>
                </div>

                <div class="col-xs-3">
                    <h5>theater</h5>
                    <span>1</span>
                </div>


                <div class="col-xs-3">
                    <h5>row</h5>
                    <span>2</span>
                </div>


                <div class="col-xs-3">
                    <h5>seats</h5>
                    <span>4-6</span>
                </div>

            </div>
            <img src="../images/qrB.png">
        </div>

    </main>
</div>